
.search-jobs-form{
    width: 80%;
}
.main{
    font-family: monospace;
    color: #1a1919;
    justify-content: left;
    text-align: center;
    font-size: 40px;
}
body{
    background-image: url("../images/webp.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.section{
    widows: auto;
    text-align: center; 
    margin: 10px;
}
.col .form-control{
    width: 80%;
    justify-content: center;
    text-align: center;
}
#input-select,
#input-number {
	padding: 7px;
	margin: 15px 5px 5px;
	width: 70px;
}

.noUi-horizontal {
    height: 10px;
    margin-bottom: 30px;
}
.noUi-horizontal .noUi-handle {
    width: 30px;
    height: 30px;
    left: -17px;
    top: -10px;
    border-radius: 50%;
    outline: 0;
}
.center {
  margin: 0 auto;
  float: none;
  text-align: center;
 background: #423e3e; 
  overflow: hidden;
  padding: 10px 10px;
  margin-top: 50px;
}
input {
  box-shadow: none;
}
#input-select, #input-number {
    padding: 1px;
    margin: 0 20px;
    width: 70px;
    padding: 10px 6px;
    text-align: center;
}
.noUi-horizontal .noUi-handle {
  background: #ffdc40;
}
 .form-group {
  position: relative;
width: 50%;
margin-left: 350px;
margin-top: 70px; }
 .form-group .form-field .form-control {
    border: none;
    height: 60px !important;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    border-radius: 40px;
    padding-left: 25px;
    padding-right: 50px;
    -webkit-box-shadow: 0px 5px 27px -14px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 0px 5px 27px -14px rgba(0, 0, 0, 0.28);
    box-shadow: 0px 5px 27px -14px rgba(0, 0, 0, 0.28); }
 .form-group button {
    background: transparent;
    border: none;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    border-radius: 0 50% 50% 50%;
    background: #e4842b; }
 .form-group button span {
      font-size: 30px;
      color: #fff; }
